{{- define "main" -}}
{{- $vars := newScratch -}}
{{- with .Site.Params.Toroidal.WebringName -}}
  {{- $vars.Set "webringName" . -}}
{{- else -}}
  {{- $vars.Set "webringName" "Webring" -}}
{{- end -}}
<article class="toroidal">
  <h2>Members of the {{ $vars.Get "webringName" }}</h2>
  <ul class="toroidal-member-list">
    {{- range where .Paginator.Pages "Params.homepage" "!=" nil -}}
    {{ partial "toroidal/member-entry-list" . }}
    {{- end -}}
  </ul>
  {{ template "_internal/pagination.html" . }}
</article>
{{- end -}}
