{{- $vars := newScratch -}}

{{/* Grab the list of member pages; these are already sorted by weight */}}
{{- $toroidalPages := where .Site.Pages "Section" "toroidal"}}
{{- $toroidalPages = where $toroidalPages "Params.homepage" "!=" nil -}}
{{/* Set the variables for the iframe */}}
{{- $vars.Set "webringName" (partial "toroidal/utils/getWebringName" .) -}}
{{- $vars.Set "memberListHref" (ref . "/toroidal") -}}
{{- $vars.Set "webringApiUrl" (ref . (dict "path" "/toroidal/admin.md" "outputFormat" "toroidal")) -}}
{{- $vars.Set "prevHref" (partial "toroidal/utils/getPrevHref" (dict "context" . "toroidalPages" $toroidalPages)) -}}
{{- $vars.Set "nextHref" (partial "toroidal/utils/getNextHref" (dict "context" . "toroidalPages" $toroidalPages)) -}}
{{- $vars.Set "styles" (partial "toroidal/utils/getStyles" .) -}}
{{- $vars.Set "hideHeader" .Params.Toroidal.NoHeader -}}
{{- $vars.Set "displayRandom" .Site.Params.toroidal.RandomMemberLink -}}
{{- $vars.Set "memberPages" (partial "toroidal/utils/getMemberPages" .) -}}
{{- $vars.Set "toroidalPages" $toroidalPages }}
{{- $vars.Set "memberName" .Params.name -}}

{{- return $vars -}}