{{- /*
  This partial expects to receive the context for a page whose type is toroidal
  and returns a scratch with the following values:

  - `webringName`: The calculated name of the webring this page belongs to.
  - `memberListHref`: The URL to the page on the host site which lists all of
     the members of the webring and where the `Member List` link in the
     generated nav takes a user.
  - `memberPages`: The list of page contexts for this webring's members.
  - `memberPageLinks`: The list of home page URLs for this webring's members.
  - `webringApiUrl`: The URL to the JSON blob on the host site which includes
     all of the information needed to understand/interact with this webring.
  - `prevHref`: The URL to the previous member's homepage in this webring.
  - `nextHref`: The URL to the next member's homepage in this webring.
  - `styles`: The link element for the calculated SCSS for this member page.
  - `hideHeader`: Whether or not this member page should display the webring's
    name as a header tag; this must be explicitly set by the user in the page
    frontmatter or the header will be displayed.
  - `displayRandom`: Whether or not this member page should include the random
     member link in the navigation; this must be explicitly set by the site's
     owner in the site configuration or this will not be displayed.
  - `memberName`: The name of this member of the webring.
*/ -}}
{{- $vars := newScratch -}}

{{/* Grab the list of member pages; these are already sorted by weight */}}
{{- $memberPages := partial "toroidal/utils/getMemberPages" . -}}
{{/* Set the variables for the iframe */}}
{{- $vars.Set "webringName" (partial "toroidal/utils/getWebringName" .) -}}
{{- $vars.Set "memberListHref" (ref . "/toroidal") -}}
{{- $vars.Set "memberPages" $memberPages -}}
{{- $vars.Set "memberPageLinks" (partial "toroidal/utils/getMemberPageLinks" .) -}}
{{- $vars.Set "webringApiUrl" (ref . (dict "path" "/toroidal/admin.md" "outputFormat" "toroidal")) -}}
{{- $vars.Set "prevHref" (partial "toroidal/utils/getPrevHref" (dict "context" . "memberPages" $memberPages)) -}}
{{- $vars.Set "nextHref" (partial "toroidal/utils/getNextHref" (dict "context" . "memberPages" $memberPages)) -}}
{{- $vars.Set "styles" (partial "toroidal/utils/getStylesLink" .) -}}
{{- $vars.Set "hideHeader" .Params.Toroidal.NoHeader -}}
{{- $vars.Set "displayRandom" .Site.Params.toroidal.RandomMemberLink -}}
{{- $vars.Set "memberName" .Params.name -}}

{{- return $vars -}}
